.notification-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
    overflow-y: auto;
}

/* Уведомления */

.notification-container .block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: var(--dark-bg-transparent);
    border-radius: var(--border-radius-md);
}

.notification-container .block .body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notification-container .block .body h4, p {
    margin: 0;
}

.notification-container .block .body .datetime {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.notification-container .block .icon {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
}

.notification-container .block .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
    min-height: 5rem;
}

.notification-container .block .remove button {
    appearance: none;
    background: none;
    border: none;
    color: wheat;
    width: 3rem;
}

.notification-container .block .remove button svg {
    fill: var(--danger-color);
}

.notification-container .block .remove button svg:hover {
    cursor: pointer;
    fill: var(--danger-dark);
}