/ffmpeg
/YT-downloader.7z
/path.yt
/downloads
config.ini
/libs
/scripts/__pycache__
/python
run.vbs
src
/dist
YT-Downloader.spec
update.exe.spec
updater.exe.spec
cookies.txt
/gui/queue.json
queue.json