body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}
.input__url[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: #333 0px 1px;
    font-size: 16px;
}

.input__folder {
    width: 250px;
}

.main__button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4a56c6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.main__button:hover {
    background-color: #3a43a6;
}


#status {
    margin-top: 20px;
    font-weight: bold;
}
#queue-list {
    margin-top: 20px;
    font-size: 14px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.progress-info {
    margin-top: 20px;
}
.progress-info div {
    margin: 5px 0;
}

.download_settings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    gap: 10px;
    margin: 5px 0;
    background-color: #4a56c6;
    padding: 10px;
    color: #e0e0e0;
    border-radius: 5px;
}

.download_settings select {
    left: 10px;
    width: 150px;
    border-radius: 5px;
    padding: 4px;
}


.download_settings {
    display: flex;
    flex-direction: row;
}