@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-background: #1e1e2e;
    --color-primary: #2d2d3a;
    --color-mainBtn: #6a5acd;
    --color-mainBtn-hover: #3a43a6;
    --color-white: #ffffff;
    --color-addiBtn: linear-gradient(135deg, #6a5acd, #483d8b);
    --color-addiBtn-hover: linear-gradient(135deg, #483d8b, #6a5acd);
    --color-progress: linear-gradient(270deg, #9082ff, #7a5acd, #483d8b, #7a5acd, #9082ff);
    --color-del: #ff5733;
    --color-del-hover: #e64a19;

    --border-radius-1: 0.3rem;

    --padding-main: 0.1rem;

    --box-shadow-1: 0 4px 10px rgba(0, 0, 0, 0.2);
}

html {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    user-select: none;
    color: var(--color-white);
    background-color: var(--color-background);
    font-size: 0.87rem;
}

.hidden_cont {
    display: none;
}

.settings {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.settings div select {
    padding: var(--padding-main);
}

.settings div select option {
    appearance: none;
    border-radius: 0;
}

.settings .update {
    display: grid;

}



